AddFile.md
blkcmp
lim
server
tmp
.goklist.tcl
*.lib
*.log
*.rpt
*.db
/fox
/.vars.tcl
/lim/*/*/*/*
/lim/*/*/*/list.f
/impl/*.cfg
/sys/eda
/ddm/*/apr_*
/ddm/*/syn
/ddm/*/dft
/impl/*
/impl/*/*/voltuspower/*
/impl/*/*/voltuspower/*/*
/impl/*/*/voltus/*
/impl/*/*/voltus/*/*
/impl/*/*/tempus/*
/impl/*/*/tempus/*/*
/impl/*/*/lec/*
/impl/*/*/lec/*/*
/impl/*/*/innovus/*
/impl/*/*/innovus/*/*
/impl/*/*/quantus/*
/impl/*/*/calibre/*
/impl/*/*/calibre/*/*
/impl/*/*/clp/*
/impl/*/*/clp/*/*
/impl/*/*/tessent/*
/tools/portmgrs/*/*
log
out
rpt
logbrk
dbs
timingReports



